<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
	<link rel="stylesheet" href="/css/help.css">
	<title>帮助页面</title>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<p>方闻－－你身边的她</p>
		</div>
		<div id="main">
			<ul>
				<li>搜书</li>
				<li>看小说</li>
				<li>搜电影</li>
				<li>生活服务</li>
				<li>你想不到的。。</li>
			</ul>
		</div>
		<div id="footer">
			@author by Basil and Brian
		</div>
	</div>
</body>
</html>